body{
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to bottom, #003366 0%, #ff0066 100%);
    background-repeat: no-repeat;
    color: white;
}

*{box-sizing: border-box;}
.same{ display: flex;}
ul {

    
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
  }
li a{
    width: 250px;
    float: inline-end;
    text-decoration: none;
    font-size: 20px;
    margin: auto; 
    color: white;
    display: block;
    line-height: 50px; 
}

li a:hover{
        background-color: thistle ;
        color: #003399;
        border: transparent;
}
.nav{

   
    width: 250px;
    height: 300px;
    overflow: hidden;
    margin-top: 50px;
    text-align: center;
    line-height: 50px; 
}

.sidebar{

    background: linear-gradient(to bottom, #003366 0%, #ff0066 100%);
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid white;
    width: 300px;
    text-align: center;

}
.nav a.active {
    background-color: #4CAF50;
    color: white;
  }
.nav a.active1 {
    background-color: #4CAF50;
    color: white;
  }
.nav a.active2 {
    background-color: #4CAF50;
    color: white;
  }
.sider{

    border-radius: 50%;
    margin-top: 30px;
    padding: 30px;
}
.rightsidebar{
    background: linear-gradient(to bottom, #003366 0%, #ff0066 100%);
    background-repeat: no-repeat; 
}
.hel{ 
    min-width: 670px;
    margin-top: 10px;
    margin-left: 20px;
    border-left: 1px solid white;
    color: white;
}

.marginset{
    
    margin-left: 10px;
    
}
.cv{

    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 30px;
    border: 1px solid white;
    padding: 2px;
    margin: 30px;
    float: right;
   

}
.cv:hover{

    background-color: cornflowerblue;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 5px 15px -5px #000007 ;
    overflow: hidden;
    
}
h1{ 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    display: block;
    padding: 100px 50px;
    text-align: center;
}
footer{
    min-width: 972px;
    text-align: center;
    color: white;
    background: linear-gradient(to bottom, #ff0066 0%, #003366 100%);
    font-size: 25px; 
}

.slider{
    
    width: 150px;
    height: 150px;
}
.boxer{ 
    width: 200px;
    height: 200px;
}
.borderbox{

    margin-left: 25px;
    line-height: 20px;
    text-align: center;
    width: 150px;
    border-top: 1px solid white;
    padding-top: 5px;
}
.slider1{

    filter: blur(0);
    transform: scale(1);
    overflow: hidden;
    width: 200px;
    height: 210px;
    margin-left: 70px;
    margin-right: 70px;
    border: 1px solid springgreen;
}
.slider1:hover{

    transition: transform 1s, filter 2s ease-in-out;
    filter: blur(1px);
    transform: scale(1.2);
    
}
.slider2{

    filter: blur(0);
    transform: scale(1);
    overflow: hidden;
    width: 200px;
    height: 210px;
    border: 1px solid springgreen;
}
.slider2:hover{
    transition: transform 1s, filter 2s ease-in-out;
    filter: blur(1px);
    transform: scale(1.2);
}

.marginer{

    padding-left: 20px;
}
.marginer>a{
    color: white;
}
/* .slider3{

    filter: blur(0);
    transform: scale(1);
    overflow: hidden;
    width: 200px;
    height: 210px;
    margin-left: 70px;
    border: 1px solid springgreen;
}
.slider3:hover{
    transition: transform 1s, filter 2s ease-in-out;
    filter: blur(1px);
    transform: scale(1.2);
} */
.slider4{

    filter: blur(0);
    transform: scale(1);
    overflow: hidden;
    width: 200px;
    height: 210px;
    border: 1px solid springgreen;
    margin-bottom: 25px;
    margin-left: 70px;
}
.slider4:hover{
    transition: transform 1s, filter 2s ease-in-out;
    filter: blur(1px);
    transform: scale(1.2);
}
.tab2{
    width: 70px;
}
.tab2t{
    height: 25vw;
}

.contact-box{
  margin-left: 20px;
  width: 300px;
}
.cont{

    float: left;
    font-size: 40px;
    border-bottom: 6px solid springgreen;
    margin-bottom: 50px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 13px;

}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    margin-top: 8px;
    padding-top: 8px;
    border-bottom: 1px solid springgreen;

}
.bottom{
    margin-bottom: 8px;
}
.textbox:hover{
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid white;
}
.textbox input{

    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 100%;
    float: left;
    margin: 10px;
}
.textbox1{
    width: 80%;
}
.btn{
    width: 70%;
    border: 1px solid springgreen;
    color: black;
    font-size: 18px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 0px 5px 15px -5px #000007 ;
    background-color: thistle ;
        color: #003399;
        border: transparent
}
::placeholder{
    color: white;
}

.content{
    text-align: center;
    margin-left: 10px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 25px;
    border-bottom: 1px solid white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.add , .phne{
    padding-left: 15px;
    text-align: center;
    margin-top: 10px;
    display: flex;

}
.ico{
    margin-top: 16px;
    width: 20px;
    height: 20px;
}
p{
    padding-left: 15px;
}
.phne{
    margin-top: 0;
}
fieldset {
    margin-left: 10px;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
legend{
    font-weight: bold;
    font-size: 30px;
}
.table1{

    width: 650px;
    text-align: center;
    border: 1px solid black;
}
.tab1t{
    width: 12vw;
}
.tab1{
    height: 10px;
    
}
td{
    text-align: center;
    width: 10vw;
}
.textalign{
    text-align: left;
}
.skills{
    height: 800px;
    overflow: hidden;
}
.table2{
    text-align: left;
}
.hed{ 
  
    border-bottom: 1px solid white;
}
.ski{
    
    vertical-align: middle;
    width:30px;
    height: 30px ;
}
.progress {
    
    margin-left: 100px;
    width: 200px;
    margin:0px;
    padding:0;
    height:10px;
    overflow:hidden;
    background:#e5e5e5;
    border-radius:6px;
}
  
.bar {
     
    position:relative;
    float:left;
    min-width:1%;
    height:100%;
    background:cornflowerblue;
}
  
.percent {

    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0;
    font-family:tahoma,arial,helvetica;
    font-size:12px;
    color:white;
}
.cent{
    border-bottom: 1px solid white;
    margin: 4px;
    width: 50px;
    display: flex;
    
}
.disp{
    margin-top: -40px;
    margin-left: 250px;
    float: left;
    display: block;
}
.cent1{

    text-align: left;
    border-bottom: 1px solid white;
    margin-top: 8px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;
    width: 140px;
}

.ico1{
    float: left;
}
.exp{
    vertical-align: middle;
    text-align: left;
    padding-left: 0px;
    margin-right: 10px;
}
.expe{
  
    padding-top: 5px;
    padding-left: 0px;
    text-align: left;
    line-height: 5px;
    word-spacing: 2px;
}
.expe1{
    
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 5px;
    padding-left: 0px;
    text-align: left;
    line-height: 5px;
    word-spacing: 2px;
}
.expe11{
    
    margin-bottom: 10px;
    margin-top: 0px;
    padding-top: 5px;
    padding-left: 0px;
    text-align: center;
    line-height: 5px;
    word-spacing: 2px;
}
.social{

    margin-top: 0;
    margin-left: 250px;
    position: relative;
    display: flex;
    transform: translateY(-50%);
    top: 50%;
}
.social a{
    margin-right: 10px;
}
.but:hover {

    display: inline-block;
    height: 50px;
    background: cornflowerblue;
    border-radius: 50%;
    box-shadow: 0px 5px 15px -5px #000007 ;
    overflow: hidden;
    position: relative;
}

.bck{

    overflow: hidden;
    text-align: center;
    display: block;
    position: fixed;
    top: 90%;
    left: 90%;
    border: 2px solid white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: right;
    text-align: center;
    margin-right: 15px;
}
.bck:hover{

    height: 50px;
    background: cornflowerblue;
    border-radius: 50%;
    box-shadow: 0px 5px 15px -5px #000007 ;
    overflow: hidden;

}

